[DEFAULT]
DICOM_DIR = /Volumes/MyBookPro/emocon_mri/dicom
PULSE_DIR = /Volumes/MyBookPro/emocon_mri/pulse
EDA_DIR = /Volumes/MyBookPro/emocon_mri/eda
LOG_DIR = /Volumes/MyBookPro/emocon_mri/log
BIDS_ROOT = /Volumes/MyBookPro/emocon_mri/emotional_contagion
DERIV_DIR = /Volumes/MyBookPro/emocon_mri/derived
QUESTIONNAIRE_DIR = /Volumes/MyBookPro/emocon_mri/questionnaire
[SPM]
ROOT = /Volumes/MyBookPro/emocon_mri/spm
[PHYSIO]
EDA_DERIV_DIR = /Volumes/MyBookPro/emocon_mri/eda_derived
PULSE_DERIV_DIR = /Volumes/MyBookPro/emocon_mri/pulse_derived
[PSPM]
ROOT = /Volumes/MyBookPro/emocon_mri/pspm
