[DEFAULT]
DICOM_DIR = /Volumes/MyBookPro/emocon_mri/dicom
PULSE_DIR = /Volumes/MyBookPro/emocon_mri/pulse
LOG_DIR = /Volumes/MyBookPro/emocon_mri/log
BIDS_ROOT = /Volumes/MyBookPro/emocon_mri/emotional_contagion
